.item {
    flex-direction: column;
}

.list .item .meta {
    flex: 0 0 1em;
}

.list .item-title {
    font-weight: bold;
}

.list .item summary {
    cursor: inherit;
}

.sep-after:after, .sep-before:before {
    margin-top: 2em;
    margin-bottom: 2em;
}
